# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Files
node_modules
dist
.env

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# yarn gitignore
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build info
*.tsbuildinfo
